body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: #f3f4f6;
    color: #333;
    padding-top: 60px; /* Adjust this value based on the height of your header */
}

header {
    background: #282c34;
    color: white;
    padding: 20px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensure the header is above other content */
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

header h1 {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    transition: transform 0.3s ease-in-out;
}

header h1:hover {
    transform: scale(1.1);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #000000;
}

main {
    padding: 80px 20px 40px; /* Adjusting padding to ensure content is not hidden under header */
}

.about-me, .skills-section, .education-section {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-in-out;
    max-width: 800px;
    margin: 20px auto;
    text-align: left;
}

.about-me:hover, .skills-section:hover, .education-section:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.image-container {
    text-align: center;
    margin-bottom: 20px;
}

.profile-image {
    max-width: 150px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 1.8rem;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
    text-align: center;
}

.personal-info p {
    margin: 5px 0;
}

.skill {
    margin-bottom: 20px;
}

.skill-name {
    font-weight: 600;
    margin-bottom: 5px;
}

.skill-bar {
    background: #ddd;
    border-radius: 5px;
    overflow: hidden;
    height: 20px;
}

.skill-level {
    height: 100%;
    background: #4caf50;
    text-align: right;
    padding-right: 5px;
    color: white;
    line-height: 20px;
    border-radius: 5px 0 0 5px;
}

footer {
    background: #282c34;
    color: rgba(117, 94, 94, 0.555);
    padding: 10px 0;
    text-align: center;
}

footer .container {
    padding: 0 20px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
